@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --background-color: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s linear;
    outline: none;
    border: none;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:0.8rem;
}
body{
    background: var(--background-color);
}
.header{
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    z-index: 3;
    width: 100%;
}
.heading{
    text-align: center;
    color:#ffffff ;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 7rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{

}
.header .logo img{
    height: 6rem;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;

}
.header .navbar a:hover{
    transition: 0.1s linear;
    padding-bottom: 0.5rem;
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
    transition: 0.1s linear;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #ffffff;
    width: 50rem;
    height: 5rem;
    display: flex;
    transform: scaleY(0);
    align-items: center;

}
.header .search-form input{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    font-size: 2.2rem;
    color: var(--black);
    margin-right: 1.5rem;
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--main-color);
}
.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}
.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}
.header .cart-items-container .cart-item img{
    height: 7rem;
}
.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}
.header .navbar.active{
    right: 0;
    transition: 0.3s linear;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .cart-items-container.active{
    right: 0;
}
section{
    padding: 2rem 7%;
}
.home{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background: url("home-img.jpeg") center;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 2rem;
}
.home .content .btn{
    text-decoration: none;
    font-size: 2.25rem;
}
.about{

}
.about .container{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}
.about .container .image{
    flex: 1 1 45rem;
}
.about .container .image img{
    width: 100%;
}
.about .container .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .container .content h3{
    font-size: 3rem;
    color: #ffffff;
    padding: 1rem 0;
}
.about .container .content p{
    font-size: 2rem;
    color: #ffffff;
    padding: 1rem 0;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box img{
    height: 15rem;
}
.menu .box-container .box h3{
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem 0;
    max-height: 5rem;
}
.menu .box-container .box .price{
    color: #ffffff;
    font-size: 2.5rem;
    padding: 5rem 0;
    height: 5rem;
}
.menu .box-container .box:hover{
    background: #ffffff;
}
.menu .box-container .box:hover > *{
    color: var(--black);
}
.menu .box-container .box a{
    text-decoration: none;
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.review .box-container .box p{
    color: #cccccc;
    font-size: 1.6rem;
    padding: 2rem 0;
}
.review .box-container .box h3{
    color: #ffffff;
}
.review .box-container .box .stars {
    color: gold;
}
.review .box-container .box .user{
    height: 15rem;
    border-radius: 2%;

    object-fit: cover;
}
.footer{
    background: var(--black);
    text-align: center;
}
.footer .social-media{
    padding: 1rem 0;
}
.footer .social-media a{
    padding: 1rem 0;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
}
.footer .links{
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 4rem;

}
.footer .links a{
    text-decoration: none;
    color: #ffffff;
    padding: 0 0.5rem;

}






























@media (max-width: 768px){
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;

    }
    .home .content h3{
        margin-bottom: 4rem;
    }
    .menu .box-container{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }


}


@media (max-width: 1000px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar{

    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .header .cart-items-container{

    }
    .header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        color: var(--black);
    }
    section{
        padding: 2rem;
    }


}
