@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --background-color: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s linear;
    outline: none;
    border: none;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:0.8rem;
}
body{
    background: var(--background-color);
}
.header{
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    z-index: 3;
    width: 100%;
}
.header .logo img{
    height: 6rem;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;

}
.header .navbar a:hover{
    transition: 0.1s linear;
    padding-bottom: 0.5rem;
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
    transition: 0.1s linear;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #ffffff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;

}
.header .search-form input{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    font-size: 2.2rem;
    color: var(--black);
    margin-right: 1.5rem;
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--main-color);
}
.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: 0;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}
.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}